
body {
    color: #555;
    margin: 0;
    font-family: serif;
}

#header {
    background: #80c846 url(/assets/images/header-pattern.png) fixed;
    position: static;
    box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1) inset;
    padding: 0;
}

#header div {
    padding: 20px 0;
}

#header h1 {
    color: #fff;
    font-size: 33px;
    line-height: 48px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 8px 0 0 70px;
}

#loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 70px;
}

table th, td {
    padding: 5px;
    text-align: left;
}

table th {
    font-weight: bold;
    font-size: 14pt;
    border-bottom: 2px solid #dfe1e5;
}

table td {
    font-size: 12pt;
    width: 500px;
}

a {
    color: #2E86C1;
}

a:hover {
    color: #5DADE2;
}