@()

@main("Google Support Articles") {

    <div id="loading-image" style="display: none">
        <img src="@routes.Assets.versioned("images/flip-flop.gif")" alt="Loading" />
    </div>

    <div id="articles"></div>

    <script src="@routes.Assets.versioned("javascripts/jquery-3.6.0.min.js")"></script>
    <script type="text/javascript">
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '@routes.GoogleSupportArticlesController.scrape()',
                beforeSend: function () {
                    $('#loading-image').show()
                },
                complete: function () {
                    $('#loading-image').hide()
                },
                success: function (data) {
                    $('#articles').empty();
                    $(data).each(function (index, product) {
                        $('#articles').append(
                                `<table><tr><th colspan="2">${product.name}</th></tr>${product.articles.map(function (article) {
                                    return `<tr><td><i>${article.headline}</i></td><td><a href="${article.link}" target="_blank">${article.link}</a></td></tr>`;
                                }).join("")}</table>`
                        );
                    });
                }
            })
    </script>
}
